!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Oveja'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Oveja'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #container
      .hidden-header
      %header.clearfix
        .top-bar
          .container
            .row
              .col-md-6
                %ul.contact-details
                  %li
                    = link_to '#' do
                      %i.icon-mobile-2
                        +51 951.754.033 | +51 987.780.366
                  %li
                    = link_to '#' do
                      %i.icon-mail-2
                        hola@oveja.pe

    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
